<div class="row">
    <div class="col-lg-4">
        <form role="form" class="form-horizontal" >
            <div class="panel panel-default">
               <div class="panel-body">
                   <div class="form-group">
                       <label for="type" class="col-sm-5 control-label">Type:</label>
                       <div class="col-sm-5">
                           <select class="form-control">
                               <option>All</option>
                               <option>Business</option>
                               <option>Personal</option>
                           </select>
                       </div>
                   </div>
                   <div class="form-group">
                       <label class="col-sm-5 control-label">Show Inactive:</label>
                       <div class="col-sm-5">
                           <input type="checkbox">
                       </div>
                   </div>
                   <div class="form-group">
                       <label for="search" class="col-sm-offset-5 col-sm-2 control-label">Search: </label>
                       <div class="col-sm-4">
                           <input type="text" class="form-control">
                       </div>
                   </div>
                   <div class="table-responsive">
                       <table class="table table-hover   table-bordered">
                           <thead>
                           <tr>
                               <th>ID</th>
                               <th>Name</th>

                           </tr>
                           </thead>
                           <tbody>
                           <tr>
                               <td>123</td>
                               <td>John</td>

                           </tr>
                           </tbody>
                       </table>
                   </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">Type:</label>
                <div class="col-sm-5">
                    <select class="form-control">
                        <option>All</option>
                        <option>Business</option>
                        <option>Personal</option>
                    </select>
                </div>
            </div>
                    </div>

            <div class="col-sm-3">
            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"</span>AddAccount</button>

                    </div>
                </div>
        </form>
    </div>

    <div class="col-lg-6">
        <form role="form" class="form-horizontal" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    Account Information
                </div>
                <div class="panel-body">


                              <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="customer" class="col-sm-5 control-label">Customer: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="type" class="col-sm-5 control-label">Type:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control">
                                                <option>All</option>
                                                <option>Business</option>
                                                <option>Personal</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="accountid" class="col-sm-5 control-label">AccountID: </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="phone" class="col-sm-5 control-label">Phone: </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="firstname" class="col-sm-5 control-label">First Name: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="lastname" class="col-sm-5 control-label">Last Name: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="billing" class="col-sm-5 control-label">Billing Email: </label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="contact" class="col-sm-5 control-label">Contact Email: </label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="costcode" class="col-sm-5 control-label">Cost Code: </label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="address" class="col-sm-2 control-label">Address:</label>
                                        <div class="col-sm-10">
                                        <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="info" class="col-sm-2 control-label">Info:</label>
                                        <div class="col-sm-10">
                                        <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="options" class="col-sm-5 control-label">Options:</label>
                                        <div class="col-sm-6">
                                            <input type="checkbox" checked>Active
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="payment" class="col-sm-5 control-label">Payment:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control">
                                                <option>direct</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="companydicount" class="col-sm-5 control-label">Company Discount(%):</label>
                            <div class="col-sm-6">
                                <input type=text class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="driverdicount" class="col-sm-5 control-label">Driver Discount(%):</label>
                            <div class="col-sm-6">
                                <input type=text class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="handlingfee" class="col-sm-5 control-label">Handling Fee(%):</label>
                                <div class="col-sm-6">
                                    <input type=text class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="blockeddrivers" class="col-sm-3 control-label">Blocked Drivers:</label>
                                <div class="col-sm-8">
                                    <input type=text class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="parentaccount" class="col-sm-3 control-label">Parent Account:</label>

                                <div class="col-sm-5">
                                    <select class="form-control">
                                        <option></option>

                                    </select></div>
                                <div class="col-sm-1">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <h5>Required Fields</h5>
                            <div class="table-responsive">
                                <table class="table table-hover   table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Field</th>
                                        <th>Required</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Cost Code</td>
                                        <td>


                                                <div class="col-sm-4">
                                                    <input type="checkbox" checked>
                                                </div>


                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                            <div class="row text-center">
                                <div class="col-lg-offset-3 col-lg-2">
                                    <button type="button" class="btn btn-primary">Cancel</button>
                                </div>
                                <div class="col-lg-2">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>




                </div>
            </div>
        </form>
    </div>
</div>

