<div class="row">
        <form  class="form-horizontal">
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="Search" class="col-sm-5 control-label">Search:</label>
                    <div class="col-sm-7">
                        <select class="form-control">
                            <option>details</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            <div class="form-group">
                <label for="passenger" class="col-sm-5 control-label">Passenger: </label>
                <div class="col-sm-7">
                    <input type="text" class="form-control">
                </div>
            </div>
                </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="phone" class="col-sm-5 control-label">Phone: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="account" class="col-sm-5 control-label">Account: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control">
                    </div>
                </div>
                </div>
            <div class="col-lg-2">

                <div class="form-group">
                    <label for="vehicle" class="col-sm-3 control-label">Vehicle:</label>
                    <div class="col-sm-5">
                        <select class="form-control">
                            <option>All</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-3 control-label">City:</label>
                    <div class="col-sm-5">
                        <select class="form-control">
                            <option>All</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="from" class="col-sm-3 control-label">From: </label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="to" class="col-sm-3 control-label">To: </label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="when" class="col-sm-3 control-label">When:</label>
                    <div class="col-sm-7">
                        <select class="form-control">
                            <option>After</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                     <div class="col-sm-offset-3 col-sm-5">
                        <input type="text" class="form-control" placeholder="Date">
                    </div>
                </div>

            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="sort" class="col-sm-3 control-label">Sort:</label>
                    <div class="col-sm-7">
                        <select class="form-control">
                            <option>Closed</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-offset-3 col-sm-7">
                        <select class="form-control">
                            <option>descending</option>
                            <option>ascending</option>
                          </select>
                    </div>
                </div>

            </div>
            <div class="text-center">
            <button type="button" class="btn btn-primary">Search</button>
                </div>
            </form>

</div>
<div class="table-responsive">
    <table class="table table-hover  table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Started</th>
            <th>Car</th>
            <th>Passenger</th>
            <th>Phone</th>
            <th>Account</th>
            <th>Pick Up</th>
            <th>Drop Off</th>
            <th>Payment</th>
            <th>Price</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Yes</td>
            <td>1</td>
            <td>Kathir</td>
            <td>9152145214</td>
            <td>696585</td>
            <td>Kottur</td>
            <td>Adyar</td>
            <td>Done</td>
            <td>145</td>
            <td>-</td>
        </tr>
        </tbody>
    </table>
</div>