<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Job Report</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="table-responsive">
<table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Job id</th>
            <th>Vehicle Type</th>
            <th>From</th>
            <th>To</th>
            <th>Passenger</th>
            <th>Cus Id</th>
            <th>Creator</th>
            <th>Status</th>
            <th>Reason</th>
            <th>km travelled</th>
            <th>Waiting charges</th>
            <th>Bill Amount</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>00123</td>
            <td>wagon 1</td>
            <td>Kottur</td>
            <td>Adyar</td>
            <td>Kathir</td>
            <td>10020</td>
            <td>John</td>
            <td>Closed</td>
            <td>droped off</td>
            <td>15 km</td>
            <td>nil</td>
            <td>Rs.500</td>
        </tr>
        <tr>
            <td>00124</td>
            <td>wagon 2</td>
            <td>Kottur</td>
            <td>Adyar</td>
            <td>Kathir</td>
            <td>10020</td>
            <td>John</td>
            <td>Closed</td>
            <td>customer cancelled</td>
            <td>nil</td>
            <td>nil</td>
            <td>nil</td>
        </tr>
        </tbody>
    </table>
</div>

