<style>
    hr{
        display:block;
        margin-top:0.5em;
        margin-bottom: 0.5em;
        margin-left: -2.9em;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        align: center;
    }
</style>
<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <h1 class="page-header">Linked Companies</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <form role="form" class="form-horizontal" >
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Linked Companies to Share Job
                </div>
                <div class="panel-body">

                         <div class="row">
                             <div class="col-sm-4">
                                 <div class="panel panel-default">
                                     <div class="panel-heading text-center">
                                         Companies in your Link
                                     </div>
                                     <div class="panel-body">
                                  <ul style="list-style-type: none">
                                      <li><a href="#" style="text-decoration: none">SRC Travels, Vasen Valley</a></li>

                                      <li><a href="#" style="text-decoration: none">MPC Travels, Malaikottai</a></li>
                                  </ul>

                                     <div class="col-sm-offset-2 col-sm-7 control-label">
                                         <button type="submit" class="btn btn-danger form-control">Delete</button>
                                         </div>

                                     </div>

                                </div>

                              </div>
                             <div class="col-sm-8">
                                 <div class="panel panel-default">
                                     <div class="panel-heading text-center">
                                         Search for Companies
                                     </div>
                                     <div class="panel-body">
                                         <div class="form-group">
                                             <label for="pincode" class="col-sm-5 control-label">Enter Pincode:</label>
                                             <div class="input-group col-sm-5">
                                                <input class="form-control" placeholder="6300001">
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                                                </span>
                                             </div>
                                         </div>
                                         <div class="col-sm-offset-1 col-sm-10">
                                         <div class="panel panel-default">
                                             <div class="panel-body">
                                                 <div class="text-center well ">
                                                 <ul style="list-style-type: none">
                                                     <li>X Travels</li>
                                                     <li>Y Travels</li>
                                                 </ul>
                                                 </div>
                                                 <div class="col-sm-offset-1 col-sm-10 control-label">
                                                     <button type="submit" class="btn btn-success form-control">Add Company</button>
                                                 </div>

                                             </div>
                                         </div>
                                         </div>

                                     </div>
                                 </div>
                             </div>
                         </div>
                </div>
            </div>
        </form>
    </div>
</div>

