<div class="row">
    <div class=" col-lg-offset-1 col-sm-10">
        <h1 class="page-header">Package Tariffs</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-3">
        <form role="form" class="form-horizontal" >
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Tariffs
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="vehicletype" class="col-sm-5 control-label">Vehicle Type:</label>
                        <div class="col-sm-3">
                            <select class="form-control">
                                <option>Indica A/c</option>
                                <option>Indigo A/c</option>
                                <option>Swift A/c</option>
                                <option>Tavera A/c</option>
                                <option>Innova/Xylo A/c</option>
                            </select>
                        </div>
                    </div>
                    <div class="list-group">
                        <a href="" class="list-group-item">Indica A/c</a>
                        <a href="" class="list-group-item">Swift A/c</a>
                        <a href="" class="list-group-item">Indigo A/c</a>
                        <a href="" class="list-group-item">Tavera A/c</a>
                        <a href="" class="list-group-item">Innova/Xylo A/c</a>
                    </div>

                </div>
                <div class="panel-footer text-center">

                </div>


            </div>

        </form>
    </div>


    <div class="col-lg-7">
        <form role="form" class="form-horizontal" >
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Package Tariff Information
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label for="vehicletype" class="col-sm-5 control-label">Vehicle Type:</label>
                        <div class="col-sm-3">
                            <select class="form-control">
                                <option>Indica A/c</option>
                                <option>Indigo A/c</option>
                                <option>Swift A/c</option>
                                <option>Tavera A/c</option>
                                <option>Innova/Xylo A/c</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-5 control-label">Package Name: </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hours" class="col-sm-5 control-label">Hours:</label>
                        <div class="col-sm-3">
                            <select class="form-control">
                                  <option>3 Hrs</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="km" class="col-sm-5 control-label">Km:</label>
                        <div class="col-sm-3">
                            <select class="form-control">
                                <option>30 kms</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-sm-5 control-label">Price: </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-5 control-label">Add Price Per Km: </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>


                </div>
                <div class="panel-footer">
                    <div class="form-group">

                        <div class="col-sm-offset-3 col-sm-2 control-label">
                            <button type="button" class="btn btn-default form-control">Add</button>
                        </div>
                        <div class="col-sm-2 control-label">
                            <button type="submit" class="btn btn-default form-control">Delete</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

