<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <h1 class="page-header">Service Area</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <form role="form" class="form-horizontal" >
    <div class="col-lg-offset-1 col-lg-4">

            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Service Area
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">600084 Thirvanmiyur</a>
                        <a href="#" class="list-group-item">600084 Adyar</a>
                        <a href="#" class="list-group-item">600084 Saidapet</a>
                        <a href="#" class="list-group-item">600084 T Nagar</a>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <a href="" class="btn btn-default">Delete</a>
                </div>
            </div>
    </div>
    <div class="col-lg-6">
       <div class="panel panel-default">
           <div class="panel-heading text-center">
               Add Service Area
           </div>
           <div class="panel-body">
               <div class="form-group">
               <div class="row">
                   <div class="col-lg-12">
                     <label for="pincode" class="col-sm-5 control-label">Enter Pincode:</label>
                     <div class="input-group custom-search-form col-sm-5">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                             <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                             </button>
                        </span>
                     </div>
                   </div>
               </div>
                   </div>
               <div class="row">
                   <div class="col-lg-offset-5 col-lg-4">
                                 <div class="well ">
                                    <ul style="list-style-type: none">
                                        <li>Velachery</li>
                                    </ul>
                                </div>
                   </div>
               </div>
           </div>
           <div class="panel-footer text-center">
               <a href="" class="btn btn-default">Add</a>
           </div>
       </div>
    </div>
    </form>
    </div>


