<div class="row">
    <div class="col-lg-offset-1 col-sm-10">
        <h1 class="page-header">Settings</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-1 col-lg-5">
        <form role="form" >
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Dispatch
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="options" class="col-sm-6 control-label">Enable Dashboard Link:</label>
                        <div class="col-sm-3">
                            <input type="checkbox">
                        </div>
                    </div>
                </div>


            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Assignment
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="options" class="col-sm-7 control-label">share Jobs to Other Companies:</label>
                        <div class="col-sm-3">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="options" class="col-sm-7 control-label">Accept Jobs from Other Companies:</label>
                        <div class="col-sm-3">
                            <input type="checkbox">
                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>
    <div class="col-lg-5">
        <form role="form"  >
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Notifications
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                             <div class="form-group">
                                 <label for="options" class="col-sm-10 control-label">Dispatcher Logged In:</label>
                                 <div class="col-sm-2">
                                   <input type="checkbox" >
                                 </div>
                             </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="options" class="col-sm-10 control-label">Dispatcher Logged Out:</label>
                                <div class="col-sm-2">
                                  <input type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="options" class="col-sm-10 control-label">Job Assigned:</label>
                                <div class="col-sm-2">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="options" class="col-sm-10 control-label">Job Accept:</label>
                                <div class="col-sm-2">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="options" class="col-sm-10 control-label">Pick Up:</label>
                                <div class="col-sm-2">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="options" class="col-sm-10 control-label">Drop Off:</label>
                                <div class="col-sm-2">
                                    <input type="checkbox" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="options" class="col-sm-10 control-label">Driver Away:</label>
                                <div class="col-sm-2">
                                    <input type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </form>
    </div>
</div>
<div class="row">
    <form role="form" class="form-horizontal" >
        <div class="col-lg-offset-1 col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Company
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="companyid" class="col-sm-6 control-label">Company ID: </label>
                        <div class="col-sm-5">
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <a href="#" class="btn btn-default">Delete A/C</a>
                </div>

            </div>
        </div>
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    App Settings
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="type" class="col-sm-6 control-label">Time Out to Accept:</label>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option>30 Sec</option>
                                <option>45 Sec</option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </form>
</div>

