<div class="row">
    <div class=" col-lg-offset-1 col-sm-10">
        <h1 class="page-header">Vehicles</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-3">
        <div class="panel panel-default" style="width:100%">
            <div class="panel-heading text-center">
                Vehicle
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="" class="list-group-item">1.Indica A/c</a>
                    <a href="" class="list-group-item">2. Swift A/c</a>
                </div>

            </div>
        </div>
        <div class="text-center">
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Vehicle</button>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading ">
                Vehicle Information
            </div>
            <div class="panel-body text-center ">

                <form class="form-horizontal" role="form"  name="company" ng-submit="users()" >

                    <div class="form-group">
                        <label for="VehicleID" class="col-sm-5 control-label">Vehicle ID: </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Enter Vehicle ID">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RegNum" class="col-sm-5 control-label">Registration Number: </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Enter Registration Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Passengers" class="col-sm-5 control-label">Passengers:</label>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Color" class="col-sm-5 control-label">Color:</label>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Type" class="col-sm-5 control-label">Type:</label>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option>Tata Indica</option>
                                <option>Tata Indigo</option>
                                <option>Maruti Omni</option>
                                <option>innova</option>
                                <option>Mahindra Logan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Bags" class="col-sm-5 control-label">Bags:</label>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputEnabled" class="col-sm-5 control-label">Enabled:</label>
                        <div class="col-sm-1">
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-7">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>


    </div>
</div>