<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss('cancel')"><span aria-hidden="true">&times;</span></button>
    <h1>Alerts</h1>
</div>

<div class="modal-body">

    <div class="list-group">
        <a href="" class="list-group-item">
            <i class="fa fa-comment fa-fw"></i> Driver Away
            <span class="pull-right text-muted small"><em>12 minutes ago</em>
            </span>
        </a>
        <a href="" class="list-group-item">
            <i class="fa fa-comment fa-fw"></i> job1-Drop off
            <span class="pull-right text-muted small"><em>27 minutes ago</em>
            </span>
        </a>
        <a href="" class="list-group-item">
            <i class="fa fa-comment fa-fw"></i> job1-Pick up
            <span class="pull-right text-muted small"><em>43 minutes ago</em>
            </span>
        </a>
        <a href="" class="list-group-item">
            <i class="fa fa-comment fa-fw"></i> Driver Accept
            <span class="pull-right text-muted small"><em>11:32 AM</em>
            </span>
        </a>
        <a href="" class="list-group-item">
            <i class="fa fa-comment fa-fw"></i>New Job created
            <span class="pull-right text-muted small"><em>11:13 AM</em>
            </span>
        </a>


    </div>
    <!-- /.list-group -->
    <a href="" class="btn btn-default btn-block" >View All Alerts</a>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
