<div class="table-responsive">
<table class="table table-hover  table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Closed</th>
            <th>Filed</th>
            <th>Pick Up</th>
            <th>Drop Off</th>
            <th>Passenger</th>
            <th>Car</th>
            <th>Driver</th>
            <th>Source</th>
            <th>Reason</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> <span class="glyphicons glyphicons-search"></span> <span class="glyphicons glyphicons-refresh"></span></td>
            <td>17/6 11:00</td>
            <td>17/6 11:00</td>
            <td>Kottur</td>
            <td>Adyar</td>
            <td>Kathir,9159053006</td>
            <td>1</td>
            <td>John</td>
            <td>Manual</td>
            <td>dropped off</td>
        </tr>
        </tbody>
    </table>
</div>