<div class="modal-header">
    <h1>Customersccgfg</h1>
</div>
<div class="modal-body">
<div class="row">
    <div class="col-lg-4">
        <form role="form" >

                <div class="row">

                    <div class="col-lg-12">

                            <h5>Personal Account</h5>
                            <div class="row">
                                <div class="col-lg-6">
                                     <div class="form-group">
                                        <label>AccountID:</label>
                                        <input class="form-control">
                                      </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Phone:</label>
                                        <input class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>First Name:</label>
                                        <input class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Last Name:</label>
                                        <input class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Address:</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Info:</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                     <div class="form-group">
                                            <label>Options </label>

                                            <label class="checkbox-inline">
                                                <input type="checkbox" checked>Active
                                            </label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Payment</label>
                                        <label class="selects-inline">
                                            <select class="form-control">
                                                <option>direct</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Company Discount(%):</label>
                                       <input class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Driver Discount(%):</label>
                                         <input class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col-lg-offset-3 col-lg-2">
                                    <button type="button" class="btn btn-default">Cancel</button>
                                </div>
                                <div class="col-lg-2">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        <div class="row text-center">
                            <div class="col-lg-offset-3 col-lg-3">
                                <button type="button" class="btn btn-default">Add preset job </button>
                            </div>
                        </div>


                    </div>
                </div>


        </form>
     </div>
</div>
    </div>
<!--
<div class="modal-header">
    <h1>This is the title</h1>
</div>'
<div class="modal-body">
    Hi, I'm a modal!
</div>-->
