<div class="table-responsive">
<table class="table table-hover  table-bordered">
        <thead>
        <tr>
            <th>When</th>
            <th>Type</th>
            <th>Vehicle</th>
            <th>From</th>
            <th>To</th>
            <th>Passenger</th>
            <th>Creator</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>now</td>
            <td>wagon</td>
            <td>1</td>
            <td>Kottur</td>
            <td>Adyar</td>
            <td>Kathir</td>
            <td>John</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
