<div class="container-fluid">
	<div class="row">
		<div class="col-lg-offset-4 col-lg-4">
			<h1 class="page-header">Activate Link</h1>
            <form role="form"  name="signup" ng-submit="activate()" >
            <div class="form-group">
                <label>Activation Key</label>
                <input class="form-control" placeholder="Activation Key">
            </div>
            <button type="submit" class="btn btn-success">Continue</button>
            </form>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>