<div class="row">
    <div class="col-sm-12 col-lg-12">

        <div id="form-container">

            <div class="page-header text-center">


                <!-- the links to our nested states using relative paths -->
                <!-- add the active class if the state matches our ui-sref -->
                <div id="status-buttons" class="text-center">
                    <a ui-sref-active="active" ui-sref=".company"><span>1</span> Company Details</a>
                    <a ui-sref-active="active" ui-sref=".users"><span>2</span> Users</a>
                    <a ui-sref-active="active" ui-sref=".vehicle"><span>3</span> Vehicle</a>
                    <a ui-sref-active="active" ui-sref=".trail"><span>4</span> Start Trial</a>
                </div>
            </div>

            <!-- use ng-submit to catch the form submission and use our Angular function -->


                <!-- our nested state views will be injected here -->
                <div id="form-views" ui-view></div>


        </div>



    </div>
</div>