<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
                <div class="panel-heading text-center">
                    My Companies
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            Suresh
                        </div>
                        <div class="panel-body">
                            <p>+91 9962562635</p>
                            <p><span class="glyphicon glyphicon-refresh"</span> pending verification</p>
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"</span> Edit</button>
                            </div>
                    </div>
                    </div>
                    </div>
                </div>
            </div>

    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                Free Trail
            </div>
            <div class="panel-body">
               <p> Trail ends on:9/6 11:48</p>
               <p> activated vehicles:0/5</p>
            </div>
        </div>

    </div>


</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                Get Started
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Company ID:</label>
                    </div>
                    <div class="col-lg-6">
                        <label>6452</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Driver Usename:</label>
                    </div>
                    <div class="col-lg-6">
                        <label>Suresh</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Dispatch Usename:</label>
                    </div>
                    <div class="col-lg-6">
                        <label>Dhama</label>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <div class="col-lg-4" style="padding-top:0;">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                Free Trail
            </div>
            <div class="panel-body">
                <p> Trail ends on:9/6 11:48</p>
                <p> activated vehicles:0/5</p>
            </div>
        </div>

    </div>



  </div>


