<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <form role="form" class="form-horizontal" >
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Service Area
                </div>
                <div class="panel-body">

                         <div class="row">
                             <div class="col-sm-4">
                                 <div class="panel panel-default">
                                     <div class="panel-heading text-center">
                                         Area
                                     </div>
                                     <div class="panel-body">
                                  <ul style="list-style-type: none">
                                      <li><a href="#" style="text-decoration: none">Thirvanmiyur</a></li>
                                      <li><a href="#" style="text-decoration: none">Adyar</a></li>
                                      <li><a href="#" style="text-decoration: none">Saidapet</a></li>
                                      <li><a href="#" style="text-decoration: none">T Nagar</a></li>
                                  </ul>

                                     <div class="col-sm-offset-2 col-sm-7 control-label">
                                         <button type="submit" class="btn btn-primary form-control">Delete</button>
                                         </div>

                                     </div>

                                </div>

                              </div>
                             <div class="col-sm-7">
                                 <div class="panel panel-default">
                                     <div class="panel-heading text-center">
                                         Add Service Area
                                     </div>
                                     <div class="panel-body">
                                         <div class="form-group">
                                             <label for="pincode" class="col-sm-5 control-label">Enter Pincode:</label>
                                             <div class="input-group col-sm-5">
                                                <input class="form-control">
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                                                </span>
                                             </div>
                                         </div>
                                         <div class="col-sm-offset-1 col-sm-10">
                                         <div class="panel panel-default">
                                             <div class="panel-body">
                                                 <div class="text-center well ">
                                                 <ul style="list-style-type: none">
                                                     <li>Velachery</li>
                                                 </ul>
                                                 </div>
                                                 <div class="col-sm-offset-2 col-sm-7 control-label">
                                                     <button type="submit" class="btn btn-primary form-control">Add</button>
                                                 </div>

                                             </div>
                                         </div>
                                         </div>

                                     </div>
                                 </div>
                             </div>
                         </div>
                </div>
            </div>
        </form>
    </div>
</div>

