<div class="row">
    <div class="col-lg-4">
        <form role="form" class="form-horizontal" >
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Tarrif
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Indica A/c</a></li>
                        <li><a href="#">Swift A/c</a></li>
                        <li><a href="#">Indigo A/c</a></li>
                        <li><a href="#">Tavera A/c</a></li>
                        <li><a href="#">Innova/Xylo A/c</a></li>
                    </ul>
                </div>
                <div class="form-group">

                    <div class="col-sm-offset-3 col-sm-4 control-label">
                        <button type="button" class="btn btn-primary form-control"><span class="glyphicon glyphicon-plus"</span> AddTariff</button>
                    </div>

                </div>

                </div>

                </form>
        </div>


    <div class="col-lg-6">
        <form role="form" class="form-horizontal" >
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    Tariff Information
                </div>
                <div class="panel-body">

                                    <div class="form-group">
                                        <label for="vehicletype" class="col-sm-5 control-label">Vehicle Type:</label>
                                        <div class="col-sm-3">
                                            <select class="form-control">
                                                <option>Indica A/c</option>
                                                <option>Indigo A/c</option>
                                                <option>Swift A/c</option>
                                                <option>Tavera A/c</option>
                                                <option>Innova/Xylo A/c</option>
                                            </select>
                                        </div>
                                    </div>

                    <div class="form-group">
                        <label for="minikm" class="col-sm-5 control-label">Mini Km:</label>
                        <div class="col-sm-3">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>

                                    <div class="form-group">
                                        <label for="amount" class="col-sm-5 control-label">Amount: </label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>

                    <div class="form-group">
                        <label for="addlcharge" class="col-sm-5 control-label">Additional Charges/km: </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="waitingcharge" class="col-sm-5 control-label">Waiting Charges/min: </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nightcharges" class="col-sm-5 control-label">Night Charges Extra in %:</label>
                        <div class="col-sm-3">
                            <select class="form-control">
                                <option>10%</option>
                                <option>20%</option>
                                <option>30%</option>
                                <option>40%</option>
                                <option>50%</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-sm-offset-3 col-sm-2 control-label">
                            <button type="button" class="btn btn-primary form-control">Edit</button>
                        </div>
                        <div class="col-sm-2 control-label">
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        </div>
                        <div class="col-sm-2 control-label">
                            <button type="submit" class="btn btn-primary form-control">Save</button>
                        </div>

                    </div>





                </div>
            </div>
        </form>
    </div>
</div>

