<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
<div class="table-responsive">
    <table class="table table-bordered ">
        <thead>
        <tr>
            <th colspan="3">Type Name</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="col-lg-4">
                <input class="form-control">
                    </div>
            </td>
            <td>
             <div class="checkbox">
                <label>
                    <input type="checkbox" value="enabled" checked>Enabled
                </label>
            </div>
            </td>
            <td>
                <span class="glyphicon glyphicon-floppy-saved"></span>
            </td>
        </tr>

        <tr>
            <td>
                <div class="col-lg-4">
                    <input class="form-control">
                </div>
            </td>
            <td>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="enabled" checked>Enabled
                    </label>
                </div>
            </td>
            <td>
                <span class="glyphicon glyphicon-floppy-saved"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"</span>NewType</button>
</div>
    </div>
</div>