
<!-- /.row -->
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">

        <div class="panel panel-default">
            <div class="panel-heading text-center">
                Company Registeration
            </div>
            <div class="panel-body">

                <form role="form"  name="company" ng-submit="companyinfo()" >
                            <div class="row">
                                <div class="col-lg-offset-2 col-lg-4">
                            <div class="form-group">
                                <label>Company ID</label>
                                <input class="form-control" name="companyid" id="companyid" placeholder="Enter Company ID">

                            </div>
                            <div class="form-group">
                                <label>Company Name</label>
                                <input class="form-control" placeholder="Enter Company Name">
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input class="form-control" placeholder="Enter Phone">
                            </div>
                            <div class="form-group">
                                <label>Address Line1</label>
                                <input class="form-control" placeholder="Enter Address Line1">
                            </div>
                            <div class="form-group">
                                <label>Address Line2</label>
                                <input class="form-control" placeholder="Enter Address Line2">
                            </div>
                                    </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Service Area</label>
                                        <select multiple class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                            <div class="form-group">
                                <label>City/Town</label>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>State</label>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Zip Code</label>
                                <input class="form-control" placeholder="Enter Zip Code">
                            </div>


                                </div>
                            </div>

                </form>

                <button type="submit" class="btn btn-success">Next   <span class="glyphicon glyphicon-circle-arrow-right"></span></button>

            </div>
            <!-- /.panel-body -->

        </div>
        <!-- /.panel -->



    </div>
    <!-- /.col-lg-12 -->
</div>