<div class="row">
    <div class="col-lg-offset-3 col-lg-5">
        <div class="text-center trail-box">


            <h3>Almost Done!</h3>
            <p>To begin your free trial,we need to first verify the validity of the company information you have entered.Please select "Wait to be verified"</p>
            <b></b>
            <h3>OR</h3>
            <p>To begin your free trial immediately,please select "Register credit card" and simply enter your credit card details. A small amount will be reserved on your account for 7 days.Nothing will actually be charged.</p>

            <button type="submit" class="btn btn-danger">Submit</button>
        </div>
    </div>
</div>
